* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: #FFCBA4;
    color: #872657; 
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
}

#wrapper {
    background-color: #F0F0F0;
    min-width: 700px;
}

header {
    background-color: #77DD77; 
    background-image: url(bigfish.gif);
    background-position: center;
    background-repeat: no-repeat;
    color: #F0F0F0;
    font-family: Georgia, "Times New Roman", serif;
    padding: 1em;
    text-align: center;
    background-image: url(lilfish.gif);
}

header a {
    text-decoration: none;
}


h1 {
    font-size: 2em;
    padding: 0.2em;
    text-shadow: 3px 3px 3px #CCC;
}

h2 {
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #777;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

nav li {
    padding: 0.5em 0;
    width: 100%;
    border-bottom: 1px solid #77DD77; 
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #77DD77; 
}

nav a:visited {
    color: #FF4500; 
}

nav a:hover {
    color: #77DD77; 
}


main {
    background-color: #FFF;
    border: 1px solid #AEC3E3;
    display: block;
    overflow: auto;
    padding-left: 2em;
    padding-right: 2em;
}

dt {
    color: #77DD77; 
    font-size: 1.1em;
    font-family: Georgia, "Times New Roman", serif;
    font-weight: bold;
}

section {
    background-color: #FFE4B5; 
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 0;
}

section h3 {
    background-color: #77DD77; 
    font-size: 110%;
    margin-bottom: 0;
    margin-top: 0;
    padding: .25em;
}

section p {
    padding: 0 .25em .25em .25em;
}

.category {
    color: #FF6347; 
    font-family: Georgia, "Times New Roman", serif;
    font-weight: bold;
}

.address {
    clear: left;
}

.store {
	background-color: #77DD77; 
	padding: 10px;
	border-radius: 5px;
	margin: 20px 0;
}

.store img {
	max-width: 200px;
	border: 1px solid #FFA07A; 
	float: left; 
	margin-right: 20px;
}

footer {
    background-color: #77DD77;;
    font-size: .70em;
    font-style: italic;
    padding: 1em;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .telephone {
        text-decoration: underline;
        color: #5280C5;
    }
}

#mobile {
    display: inline;
}

#desktop {
    display: none;
}

table {
    margin: 1em;
    border: 2px solid darkblue;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    border: 1px solid darkblue;
}

@media screen and (min-width: 600px) {
    header {
        background-image: url(bigfish.gif);
    }

    h1 {
        font-size: 3em;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    nav li {
        border-bottom: none;
    }

    #flow {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section {
        min-width: 30%;
        flex: 1;
    }

    dl {
        flex: 2;
    }

    img {
        flex: 1;
    }

    #mobile {
        display: none;
    }

    #desktop {
        display: inline;
    }
}

@media screen and (min-width: 1024px) {
    @supports (display: grid) {
        header {
            grid-area: header;
        }

        nav {
            grid-area: nav;
        }

        main {
            grid-area: main;
        }

        footer {
            grid-area: footer;
        }

        #wrapper {
            display: grid;
            grid-template:
                "header header"
                "nav main"
                "nav footer"
                / 180px auto;
        }

        nav ul {
            flex-direction: column;
            font-weight: bold;
            font-size: 1.25em;
        }
    }
}